option_settings:
  aws:elbv2:listener:443:
    Protocol: HTTPS
    SSLCertificateArns: "${POMONAPIPEPRODUCTSCOM_SSL_ARN}"
Resources:
  AddingSSLCert2:
    Type: "AWS::ElasticLoadBalancingV2::ListenerCertificate"
    Properties:
      ListenerArn:
        Ref : "AWSEBV2LoadBalancerListener443"
      Certificates:
        - CertificateArn: "${POMONASUPPLYCOM_SSL_ARN}"
