/*
** https://vuetifyjs.com/en/customization/sass-variables/#variable-api
** Overwrites default values of vuetify scss vars
*/
@use 'sass:map';
@import '~/node_modules/vuetify/src/styles/settings/_variables.scss';

// typography
$body-font-family: 'Open Sans', sans-serif;
$heading-font-family: 'Poppins', sans-serif;
$btn-text-transform: 'capitalize';

// spacing
$container-padding-x: 16px;

// grid
$grid-breakpoints: map.set($grid-breakpoints, 'xxl', 3840px - 16px);
