/*
** main application styles
** can use variables from variables.scss file: e.g. $custom-color
** can also use vuetify theme vars: var(--v-primary-base)
*/

// headings
h1 {
  font-family: $heading-font-family;
  font-size: 3.75rem;
  margin-bottom: 1rem;
  line-height: 1.25;
}
h2 {
  font-family: $heading-font-family;
  font-size: 2.75rem;
  margin-bottom: 1rem;
  line-height: 1.25;
}
h3 {
  font-family: $heading-font-family;
  font-size: 1.75rem;
}
h4 {
  font-family: $heading-font-family;
  font-size: 1.4rem;
}
h5 {
  font-family: $heading-font-family;
  font-size: 1.2rem;
}
h6 {
  font-family: $subheading-font-family;
  font-size: 1rem;
}
.subtitle {
  font-family: $subheading-font-family;
  font-size: 1.75rem;
}

//Buttons
a {
  font-family: $button-font-family;
}

// page sections
section {
  padding: 7rem 0;
  &:nth-child(2n + 1) {
    background-color: #fafafa;
  }
  &.hero {
    padding-top: calc(7rem + 96px);
    color: #ffffff;
  }
}

// cards
.v-card__title {
  word-break: break-word;
}

// prismic
p:empty {
  height: 1em;
}
